.progress {
    background: #3a404b;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    width: 100vw;
    height: .5rem;
    &__bar {
        background: $colorMain;
        box-shadow: 0 0 .5rem lighten($colorMain, 30%);
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        transform: scaleY(0);
        transform-origin: left;
    }
    &__percent {
        position: fixed;
        bottom: 3rem; right: 3rem;
        
        white-space: nowrap;
        width: 6rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        color: #fff;
    }
}